**/__pycache__
*ipynb
**/.idea
**/local_vars.txt
*.html
*.dot
.DS_Store
.venv/
**/tmp*
**/*.tmp
.vscode/
**/.coverage
*.synctex.gz
*.fdb_latexmk
*.aux
*.fls 
logic.log
**/results.log
**/localtest.py
**/rebase.sh
benchmark_fetcher/repos